div{
    width: 500px;
    height: 500px;
    background-color:red;
    border-radius: 50%;
    margin: 0 auto;

}
div:hover{
    background-color: aqua;
}
div:active{
    background-color: #d89b9b;
    width: 250px;
    right: 250px;
}